<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>爬虫系统</title>
<script src="{{static_url("js/script.js")}}" type="text/javascript" ></script>
<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css")}}"/>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="loginpanelwrap">
  	
	<div class="loginheader">
    <div class="logintitle"><a href="#">爬虫系统</a></div>
    </div>

     
    <div class="loginform">
        <form method="POST">
            <div class="loginform_row">
            <label>Username:</label>
            <input type="text" class="loginform_input" id="username" name="" />
            </div>
            <div class="loginform_row">
            <label>Password:</label>
            <input type="text" class="loginform_input" id="password" name="" />
            </div>
            <div class="loginform_row">
            <input type="submit" class="loginform_submit" id="login" value="Login" />
            </div> 
            <div class="clear"></div>
        </form>
    </div>
 

</div>

    	
</body>
</html>
